<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <title>Iglesia</title>
</head>

<body class="flex flex-col justify-center items-center bg-gray-100 h-max">

    <!-- titulo que diga lista de funcionalidades -->
    <div class="flex flex-col justify-center items-center bg-gray-100 h-max mt-12">
        <h1 class="text-4xl font-bold">Lista de Casos de Uso</h1>
    </div>


    <div class="grid grid-cols-2 px-10 py-10 gap-5 ">
        <div class="bg-white rounded-lg shadow-lg p-5 text-center">
            <a href="/ministerio">
                <h1 class="text-2xl font-bold">Gestionar Ministerios</h1>
            </a>
        </div>
        <div class="bg-white rounded-lg shadow-lg p-5 text-center">
            <a href="/cargo">
                <h1 class="text-2xl font-bold">Gestionar Cargo</h1>
            </a>
        </div>
        <div class="bg-white rounded-lg shadow-lg p-5 text-center">
            <a href="/">
                <h1 class="text-2xl font-bold">Ver historial de cargos</h1>
            </a>
        </div>
        <div class="bg-white rounded-lg shadow-lg p-5 text-center">
            <a href="/miembro">
                <h1 class="text-2xl font-bold">Gestionar Miembros</h1>
            </a>
        </div>
        <div class="bg-white rounded-lg shadow-lg p-5 text-center">
            <a href="/ministerios">
                <h1 class="text-2xl font-bold">Gestionar Eventos</h1>
            </a>
        </div>
    </div>



    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</body>

</html>